.heading {}

.block {
    width: 100%;
    margin: 10px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.name {
    font-size: 24px;
}

.profession {
    color: var(--light-accent-color)
}

.subheading {
    width: fit-content;
    background-color: var(--text-color);
    color: var(--dark-color);
    border-radius: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

.educationList {}

.listItem {
    display: flex;
    gap: 10px;
}

.currentListItem {
    margin-bottom: 10px;
    border-left: 2px solid var(--light-accent-color);
}

.years {
    width: 120px;
    flex-shrink: 0;
    font-weight: 600;
    padding-left: 5px;
}

.skillsList {}