.card {
    flex: 0 0 auto;
    width: 300px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: var(--dark-color);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.image {
    opacity: 0.9;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 300px;
    padding: 16px;
}

.title {
    font-size: 20px;
    margin: 0 0 4px;
}

.type {
    font-size: 16px;
    color: var(--light-accent-color);
    margin-bottom: 8px;
}

.descriptionWrapper {
    position: relative;
    max-height: 105px;
    overflow: hidden;
    margin-bottom: 12px;
}

.description {
    max-height: 105px;
    overflow-y: auto;
    scrollbar-width: none;
    padding-right: 4px;
}

.fadeBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            var(--dark-color) 100%);
    pointer-events: none;
}

.stack {
    font-size: 14px;
    text-wrap: nowrap;
    overflow: auto;
    scrollbar-width: none;
}

.links {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.link {
    display: inline-block;
    width: 100%;
    text-align: end;
    margin-top: 8px;
    color: var(--light-accent-color);
    text-decoration: none;
}

.link:hover {
    color: var(--text-color)
}

.date {
    width: fit-content;
    margin-top: auto;
    font-size: 14px;
    opacity: 0.7;
}