.contacts {
    gap: 20px;
}

.contactsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 20px;
}

.contactsList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact {
    display: flex;
    align-items: center;
    min-width: 280px;
    gap: 12px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    transition: color 0.3s ease;
    padding: 10px;
    background-color: var(--dark-color);
    border-radius: 16px;
}

.contactIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.contactLink {
    width: 100%;
}